.btn{
  border: 2px solid rgba(255, 255, 255, 0.288) !important;
  font-size: 24px !important;
  text-align: center;
  padding: 1% 1% !important;
  margin: 2% 2%;
}


.btn-circle {
  width: 52px;
  height: 52px;
  border-radius: 50% !important;
  text-align: center;
  font-size: 24px;
  line-height: 1.42857;
}

.btn-violet{
  color: white !important;
  border-color: 2px solid rgba(255, 255, 255, 0.158) !important;
}


.btn-violet:hover{
  color: rgb(78, 18, 80) !important;
  border: 2px solid rgba(255, 255, 255, 0.555) !important;
  background-color: white !important;
}